body {
    background-color: #9C9583;
    margin: 0;
}

.welc {
    color: #E2D4B7;
    text-align: center;
    padding-top: 50px;
}

#imageGallery {
    display: flex;
    align-items: center;
    justify-content: center;
}


a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #CADBC8;
    color: #9C9583;
  }

  .previous {
    background-color: #CADBC8;
    color: #A1A499;
    float: right;
  }

  .do {
    padding-top: 300px;
  }
  
  .next {
    background-color: #CADBC8;
    color: #A1A499;
    float: left;
  }

  .round {
    border-radius:  50%;
  }

